div.btn{
   /* width: 100px; */
   margin: 20px auto;
   padding: 30px 0;
   text-align: center;
}
div.btn>button{
    padding: 10px 30px;
    border: none;
    color: #fff;
    margin: 0 20px;
    background-color: #520202;
}
div.btn>button:last-child{
    background-color: #056105;
}